[2015-10-15 13:53] georgeadamson opened #14 "Code samples should show how to get plugin working in webpack"
Please could you elaborate on the Code Samples to show what else needs to be added to a project to build and make use of the resulting sprite file?
Where does the sprite file end up? How would you bundle it into the page?
The Plugin code is clearly illustrated but is more needed, such as defining a Loader?
Many thanks

[2015-10-26 11:01] georgeadamson commented on #14
Partly solved: It works in prod but not in dev-server because it relies on creating an actual file.

[2015-10-26 12:09] lgordey commented on #14
@georgeadamson Thank you for feedback!
I'll add code samples soon, please follow the changes.

[2015-10-27 22:51] seawolff opened #15 "Confused how to get imports working in sass file"
Not seeing the file generated when running webpack dev server. How would I setup an import path into a sass file? Do I need an additional loader?

[2015-10-28 20:07] mrsum commented on #15
I don't understand why you ask here about, but it's doesen't matter :)

As answer of your request look there:
https://github.com/jtangelder/sass-loader

[2015-10-28 20:07] #15 closed

[2015-10-28 20:11] mrsum commented on #14
@georgeadamson as you know, webpack-dev-server using RAM for static provide.
And you can get file via webpack:// protocol.

I recommend using this loader at once time, when you want to create sprite and put them to HDD.

[2015-10-30 10:11] #14 closed

[2015-11-11 15:53] cjroebuck opened #17 "svgxhr.js"
Got the svg sprite generated and I can see it served on webpack dev server.

But how do I configure svgxhr.js to load the sprite dynamically (using the unique hash). I don't understand where this gets served from?

from README:

### 2. Include svgxhr.js into your webpage
     <script src="/assets/svgxhr.js" type="text/javascript" charset="utf-8"></script>

This step just isn't working for me.

[2015-11-11 17:01] mrsum commented on #17
@cjroebuck Hello!

We are prepare new version v2.0.4 into npmjs

Take a look next config:

[code]
If thats will be work, please close this issue

Best regards.

[2015-11-12 16:17] mrsum commented on #17
@cjroebuck what about?

[2015-11-16 12:09] #17 closed

[2015-11-17 22:32] mk0x9 opened #20 "Использовать glob-паттерны для указания списка исходных файлов."
Хотелось бы иметь возможность указывать glob-паттерны для списка исходных файлов, а не директорию, в которой волком происходит обход. Плюс это поправит баг, когда сборка падает, если в директории оказываются не svg-файлы (например `.DS_Store`).

[2015-11-17 22:53] mk0x9 opened #21 "output не используется."
Передаваемый в конструктор плагина output никак не используется.

[2015-12-02 19:03] dmitrif opened #27 "Documentation clarification"
What does "add xhr to entry chunk" mean?

Thank you.

[2015-12-02 21:44] dmitrif commented on #27
Figured it out, forking and working on adding support for CDN resources.

[2015-12-02 21:44] #27 closed

[2015-12-04 12:05] jlowgren opened #29 "Doesn't write SVG sprite to disk"
I might be missing something obvious here, but for me, the plugin never emits the actual sprite.

The output:

[code]

Using this configuration:

[code]

Is this a bug or am I just doing something wrong?

[2015-12-04 12:06] mrsum commented on #29
@jlowgren could you try next code:

[code]

[2015-12-04 12:26] jlowgren commented on #29
Tried it, still nothing I'm afraid.

[2015-12-04 12:29] mrsum commented on #29
@jlowgren what kind of task you've run? wepback or webpack-dev-server?

[2015-12-04 12:36] jlowgren commented on #29
Just `webpack --watch`.

[2015-12-04 12:46] lgordey commented on #29
@jlowgren What output publicPath do you have?

The destination path = publicPath + realtive path to dir

[2015-12-04 15:39] jlowgren commented on #29
`publicPath` is unset, so whichever is the default.

[2015-12-06 13:12] lgordey commented on #29
Default is `/` now.

It works without `publicPath` but with `path`.
I suppose `output.path` is unset too?

[2015-12-07 05:49] jlowgren commented on #29
`path` is set to `path.join(__dirname, 'build');`.

Here's a slightly trimmed down version of the whole configuration:

[code]

[2015-12-07 05:51] jlowgren commented on #29
Interestingly, if I set the `SvgStore` destination directory to something that doesn't exist, the directory is created, but the sprite itself is still missing.

[2015-12-07 09:06] lgordey commented on #29
I made an example with your config, hope this helps.
Take a look - https://github.com/lgordey/webpack-svgstore-plugin/tree/feature/example
Clone it on `feature/example` branch and run `npm run build`

[2015-12-07 10:09] jlowgren commented on #29
Thanks! I'll take a look at it during the day.

[2015-12-07 16:22] jlowgren commented on #29
[code]

Output appears identical but this time it really did write the file, so it must be something else on my end. I'll take another look and come back here if I find something, but you can probably close this for now. :)

Thanks for helping!

[2015-12-08 08:20] #29 closed

[2015-12-09 12:59] fr-ench opened #32 "Window path problem"
I've been trying to use 'entry' options to automatically load SVG sprite on windows machine.

My publicPath is './dist'.
Webpack plugin settings are
<code>new SvgStore("svg/icons/*/.svg", "/", { name: '[hash].sprite.svg', chunk: 'head' })</code>

The code path.join(publicPath, filePath) from 109 line in index.js produces this code in the resulting chunk head.js:
<code>svgXHR('\dist\8239235be0f2ba4

[2015-12-11 17:02] lgordey commented on #32
@fr-ench check develop branch and try the version from it
`git://github.com/mrsum/webpack-svgstore-plugin.git#develop`

[2015-12-14 22:58] jzempel opened #37 "viewBox attribute is case sensitive"
https://github.com/mrsum/webpack-svgstore-plugin/blob/develop/helpers/utils.js#L131 should be

[code]

http://www.w3.org/TR/SVG/styling.html#CaseSensitivity

[2015-12-17 18:42] chicoxyzzy opened #38 "relative path to svg sprite"
I have app which is embedded into page for some path let's say http://some.domain.com/blablabla/app.
When I use `webpack-svgstore-plugin` it creates `svgXHR` which is relative to `some.domain.com` (and possibly port), i.e. http://some.domain.com/images/sprite.svg. Is there any way to make it relative to `path` part of location (i.e. http://some.domain.com/blablabla/app/images/sprite.svg)? If no, I

[2015-12-17 20:57] chicoxyzzy opened #39 "Feature request: exclude option"
exclude option (with same behavior as in loaders) will be useful in some cases

[2015-12-18 07:55] limpbrains opened #40 "If i'm using glob mask like icons/**/*.svg webpack-svgstore-plugin adds icons/*.svg to files list"
to fix this add `{nodir: true}` to glob options,
I can create pull request, if you wish.

[2015-12-18 08:48] lgordey commented on #40
@limpbrains
I think it can be done like passing svgo options in plugin.
Pull request would be great! :)

[2015-12-18 08:54] lgordey commented on #38
@chicoxyzzy
I think it's not correct to use `pathname` here.
Maybe you can do it with [`baseURL`](https://github.com/mrsum/webpack-svgstore-plugin/pull/28) option?

[2015-12-18 08:56] lgordey commented on #39
@chicoxyzzy can you make an example of such case?

[2015-12-18 09:00] mrsum commented on #37
@jzempel the problem inside middleware which transform all svg attributes to small case. I mean what happens if destination sprite will contain element with small case attirbs?

[2015-12-18 09:19] limpbrains commented on #40
It fails when it tries to read file in utils.js in readFileSync
[code]

[2015-12-18 09:33] limpbrains opened #42 "Wrong link if I'm using webpack-dev-server"
I'm running webpack-dev-server, it serves static files on `http://localhost:2992/`
Inside my http://localhost:2992/_assets/entry.js I have
`document.addEventListener('DOMContentLoaded', svgXHR('http:/127.0.0.1:2992/_assets/build/public/svg/9fea4835cba8c510fb69ca3c6e161ec1.sprite.svg'), false);
`

`http:/127.0.0.1:2992` is wrong, should be `http://127.0.0.1:2992`

[2015-12-18 09:37] limpbrains commented on #42
`baseUrl` on set

[2015-12-18 11:36] chicoxyzzy commented on #38
`baseUrl` is static and it works in build time only. That means that if you'll change path from http://some.domain.com/blablabla/app to http://some.domain.com/newpath/app app will be broken. The idea is to keep path relative to some custom root.

[2015-12-18 11:44] chicoxyzzy commented on #39
Sure.
Lets say we have such file tree:
[code]
Logos should be placed in background so they should be in styles not svg sprite. By the way there is no way to not include them into sprite with file tree above. So excluding `/logos` via `exclude` option which works as lwebpack loaders' `exclude` (for convenience) or if plugin will be able to take an array as first argument (as it already uses `glob`)

[2015-12-18 14:19] lgordey commented on #39
In this case you can easily fix it with structure changes.

For example, you can make the structure as:
[code]
So in plugin you will use pattern like `'svg/sprite/**/*.svg'`.

[2015-12-18 14:27] lgordey commented on #39
@chicoxyzzy Because you still have to change the structure of your svg's to write the correct exclude pattern for glob.

[2015-12-18 14:53] chicoxyzzy commented on #39
@lgordey sure I can but only if I am _owner_ of these files and they are not in 3rd-party npm module

[2015-12-18 15:19] chicoxyzzy commented on #39
not necessarily

[2015-12-18 15:36] jzempel commented on #37
If you don't change the line as shown above, viewBox is lowercase and the sprited SVG symbols don't render to the correct size when they are referenced. I was able to make the plugin work as expected by hacking the case change on ```viewBox: dom.attribs.viewbox```.

[2015-12-18 18:20] mrsum commented on #39
@chicoxyzzy you right. we aplly this issue and will make it at next release

[2015-12-18 18:22] mrsum commented on #37
@jzempel thanks for report! Next release will contain this fix

[2015-12-18 18:24] mrsum commented on #42
@limpbrains Thank you for report. I have one question is how can i get this bug? Do you have some repo for testing?

[2015-12-18 18:25] mrsum commented on #40
I've been apply your pull request. Can i close this issue?

[2015-12-18 18:25] mrsum commented on #40
@limpbrains

[2015-12-19 20:27] limpbrains commented on #42
@mrsum take a look at https://github.com/limpbrains/react-starter, I've added SvgStore to make-webpack-config.js
use `npm run hot-dev-server` to launch webpack, and then open `http://localhost:2992/_assets/main.js`

[2015-12-20 13:20] #32 closed

[2016-01-20 21:12] thekip opened #45 "How to include sprite in the html?"
I didn't see in docs. We have to include the sprite before use icons via xlink:href

So how do you do it?

When i use gulp, i used to use svg-inject plugin to achieve that, i inject it directly into the bottom of my html file.

[2016-01-21 08:16] mrsum commented on #45
Did you see div block which contains svg onto your page?

[2016-01-21 08:21] thekip commented on #45
nope, how and where it should appear?

[2016-01-21 08:23] mrsum commented on #45
Can you'll paste here your webpack.config?

[2016-01-21 08:25] thekip commented on #45
It's based on https://github.com/AngularClass/angular2-webpack-starter
[code]

[2016-01-21 08:28] mrsum commented on #45
Yes, i know how can help you :)

[code]

[2016-01-21 08:34] thekip commented on #45
Thanx, it isn't enough clear in readme.
So i've corrected config, but now i have another error:

Cannot GET /assets/svg/6437c2219c5c2f766d7dc4c3f5599d30.sprite.svg

I use webpack dev server and got this error. When i build via `webpack` command, i see this file on this destination.

[2016-01-21 08:36] mrsum commented on #45
Please check your publicPath value into config.
Right now sprite has been builded and served from dev-server, but publicPath is incorrect

[2016-01-21 08:59] thekip commented on #45
I finally figured out. Public path was correct, because all other my assets work fine.
Problem was in plugin config:

[code]

I was confused, because when i build with webpack svg sprite was storred in correct place.

@mrsum Big thanks for support!

[2016-01-21 09:00] mrsum commented on #45
@thekip Welcome!

[2016-01-21 09:45] thekip commented on #45
Actually it is not solved. Solution from previously comment works only because before start dev-server i build with old config and had a file in correct location. Сoincidence..

Issue still here. I try to describe it below:

i have next file structure:
src/
dst/

Icons stored in the `src/icons`, output configured to `dst/svg/sprite.svg`

Web pack dev server configured for `dst/` folder (output.pat

[2016-01-21 12:20] mrsum commented on #45
@thekip I think its depends of webpack.config environment.
Cause nobody know how config should looking.
But test example into this package works fine.

[2016-01-21 13:10] thekip commented on #45
@mrsum what? I don't undersand that, please explain. Or provide you config and file structure, my be i just change my environment.

[2016-01-21 13:11] mrsum commented on #45
Look up to this file
https://github.com/mrsum/webpack-svgstore-plugin/blob/develop/platform/global.js

[2016-01-21 16:56] thekip commented on #45
after 2 hours of debugging i found that problem in slashes. I don't why all other users don't have this problems, but i have (i work on windows).

if i replace `filePath` to string 'svg/spire.svg' in that code:
[code]
Then i can get this file from dev server correctly:

http://localhost:3000/svg/sprite.svg -> OK

Initially in  `filePath` we have backslashes: 'svg\spire.svg' and it doesn't work

ht

[2016-01-25 05:53] fr-ench commented on #32
That fixed my problem, thank you!

[2016-02-02 11:05] fr-ench opened #46 "IE10 problem with svg sprite upload"
When plugin is used with "chunk" option, then _ajax.onload callback from Svgxhr.js sometimes doesn't fire in the resulting chunk. I believe the reason is _ajax.send(); should be called after _ajax.onload is attached.
This happens always when used with webpack-dev-server (I proxy my local website to localhost:8080  and my Access-Control-Allow-Origin headers are set correctly).

Also would be great

[2016-02-03 10:36] #45 closed

[2016-02-10 19:56] XOP commented on #37
@jzempel oh my god, thanks! wasted so much time on this stupid bug :(
thanks for pointing this out! better be fixed ASAP, this kills all scaling

[2016-02-10 23:27] lgordey commented on #37
Fixed. Try 2.1.2 version.

[2016-02-10 23:27] #37 closed

[2016-02-10 23:59] lgordey commented on #46
I guess you're right.
We will fix it in next release.

[2016-02-11 12:44] XOP commented on #37
@lgordey that does it, thanks!

[2016-02-16 19:58] rbirbeck opened #50 "Animations are not working after building svgstore"
I recently migrated our grunt/browserify/grunt-svgstore project to webpackge/webpack-svgstore-plugin.

Everything is working great, except that the animations that we previously embedded in to our SVGs no longer animate. The initial SVG renders and then no movement.

It appears as if something is happening to the SVG structure after it is run through the svgstore plugin. Here is the source SVG fil

[2016-02-16 21:36] lgordey commented on #50
@rbirbeck Try to use plugin version from branch https://github.com/lgordey/webpack-svgstore-plugin/tree/feature/activate-xmlmode
Is it works for you?

And about your config example.

You can pass only `xmlns` and `style` options in svg object.
You don't need to set `viewBox`, because you have it in your svg source.
And if you want to pass some svgo options (cleanup), you can make it through `svgoO

[2016-02-16 23:26] rbirbeck commented on #50
@lgordey - this is much better!

I am seeing this issue now, and please let me know if this is the intended functionality, for the same svg I copied above the compiled SVG store asset looks like:

[code]

So we can see that the `animateTransform` element is in the correct place, however my `viewBox` attribute has been stripped.

[2016-02-17 07:11] lgordey commented on #50
@rbirbeck I fix moment with viewBox in the same branch, try it, now it should work.

So we need to make some tests and I think you will see this changes in next release.

[2016-02-17 15:18] rbirbeck commented on #50
That did it. Thanks, @lgordey.

Any idea when the next release might ship?

[2016-02-22 20:24] rbirbeck commented on #50
@lgordey - hey, just checking in on this, would it be helpful if our team wrote some unit test coverage for this issue?

[2016-02-22 20:51] lgordey commented on #50
@rbirbeck Sure, it will be great!

And about next release, I hope we will make it tomorrow night. Just need to test some cases.

[2016-02-23 12:55] tb opened #51 "SvgStore creates empty temp directory"
I have setup similar to https://github.com/cngroupdk/hands-on-flexbox-svg/blob/master/webpack.config.js#L25

    new SvgStore(path.join(__dirname, 'svg-source', '**/*.svg'), path.join('sprites'), {
      name: '[hash].sprite.svg',
      chunk: 'app',
      prefix: 'icon-'
    })

in my case it is:

    new SvgStore('bower_components/uirepo/frontend/icons/*.svg', path.join('icons'), {
      name: '

[2016-02-23 13:01] mrsum commented on #51
Hi, SvgStore has apply 3 arguments on constructor function.
first - source folder, second param is output folder and third param is settings.
If output folder has not been detected, plugin will create it for sprite.

Can you explain your problem a little bit more?

[2016-02-23 13:11] tb commented on #51
Ok, I will try to explain it better.

SvgStore has apply 3 arguments on constructor function, lets call them: source, dest and options.

When source includes the different name like:

    new SvgStore(path.join(__dirname, 'svg-source', '**/*.svg'), path.join('sprites'), {

then there is side effect of creating empty dir named "sprites" in root of the project.

I think this is because SvgStore crea

[2016-02-23 14:52] mrsum commented on #51
Yes you are right!

It really happen, can U say what kind of behaviour you are waiting?
I try to fix it.

[2016-02-23 17:00] mrsum commented on #51
Hello again.

Can you look up to this branch https://github.com/mrsum/webpack-svgstore-plugin/tree/test/issue-51
Whats change.

I want to offer convention.
If you are will use absolute path into svgstore config output path, its will work, but assync runner code will not apply to chunk. and chunk param will be ignored.

And i prepare test case

[code]

[2016-02-23 19:06] tb commented on #51
I tested on https://github.com/tb/hands-on-flexbox-svg/tree/test-issue-51

"sprites" folder in root of project is no created anymore, which is :+1:

Thank you!

[2016-02-23 19:52] mrsum commented on #51
@tb Well done.
So, i hope tomorrow will be available next release. Stay tune.

[2016-02-26 21:17] dmitrif commented on #46
https://github.com/mrsum/webpack-svgstore-plugin/pull/53

[2016-03-04 09:53] restrry opened #54 "extract-text-webpack-plugin compatibility"
Hi, guys! I noticed, that after adding svgstore-plugin build time in my project increased from 9sec. to 29sec. It seems that the root of problem that plugin uses `compilation` event [here](https://github.com/mrsum/webpack-svgstore-plugin/blob/develop/index.js#L87)
But if you use `extract-text-webpack-plugin` in your project this events will fire several times and it leads to multiple run `svgstore

[2016-03-06 17:38] lgordey commented on #51
@tb Hi!
Try 2.1.3 plugin version

[2016-03-06 17:38] lgordey commented on #50
@rbirbeck Hi!
Try 2.1.3 plugin version.

[2016-03-06 17:38] #50 closed

[2016-03-06 17:40] lgordey commented on #46
@dmitrif @fr-ench
Please try 2.1.3 version

[2016-03-06 17:40] #46 closed

[2016-03-06 17:40] lgordey commented on #42
@limpbrains Try 2.1.3 version

[2016-03-06 17:40] #42 closed

[2016-03-06 17:40] lgordey commented on #40
@limpbrains try 2.1.3 version

[2016-03-06 17:40] #40 closed

[2016-03-06 18:28] lgordey commented on #54
@restrry Hi!
Unfortunately, we can't use `emit`, because we need access to `optimize-chunk-assets` state which is only in `Compilation` instance.
So yes, I think we need something like caching.

[2016-03-07 09:51] tb commented on #51
I tried the 2.1.3.

With setup:

        new SvgStore(
          path.join(__dirname, 'src/icons/*.svg'),
          path.join(__dirname, 'dist/icons'),
          {
            name: '[hash].icons.svg',
            chunk: 'app',
            prefix: '',
            svgoOptions: {
              plugins: [
                {removeStyleElement: true}
              ]
            }
          })

I see fol

[2016-03-07 10:11] tb commented on #51
I have updated test repo, its possible that "*.svg" folder is left over from previous version issues.

The dist/Users issue is reporduced through. See https://github.com/tb/hands-on-flexbox-svg/tree/test-issue-51/dist

[2016-03-07 10:14] lgordey commented on #51
Ok, give me some time to fix it.

[2016-03-07 10:35] tb commented on #51
Ok, sure.

Another thing is the url in bundle:

document.addEventListener('DOMContentLoaded', svgXHR('/Users/tb/projects/hands-on-flexbox-svg/dist/icons/3326e34bbdcd07bc39016fc8d567e3a6.icons.svg')

I think it is related to the Users folder issue.

[2016-03-09 00:50] andrewjamesford opened #60 "webpack bundle using file path not relative path"
I have an issue specifically with version 2.1.3 when using Webpack-svgstore-plugin in my webpack build I'm getting a file path added to the bundle.js outputted like this:
[code]

I'm puzzled why it adds "c:/Code/Atmos/z-sample/Sample.ERP/node_modules" and is not a relative path to the output. This works in a previous version (2.1.2) until I updated the package to 2.1.3.

The sprite is placed in th

[2016-03-09 09:26] lgordey commented on #60
@andrewjamesford Hi!
Yes, we know about this broken version. Working on it.

Can you, please, make some demo repo with this?

[2016-03-09 15:21] lgordey commented on #51
@tb Hello again.
Could you explain to me please: why do you need to specify an absolute path in `dest`?
I'm trying to understand all the cases that can be.

In your situation you don't need to use `__dirname` in output path option.
And what you expect to see in the AJAX, if sprite will not be in project path?

I understand, that source SVGs can be located anywhere, but `dest` sprite should be in p

[2016-03-09 18:33] tb commented on #51
@lgordey I thought its required based on README.md example https://github.com/mrsum/webpack-svgstore-plugin#usage

I made branch without __dirname, see:
https://github.com/tb/hands-on-flexbox-svg/blob/test-issue-51-no-__dirname/dist/bundle.js#L35
It still has the same issue of writing my local path to DOMContentLoaded while it should be /icons/[hash].icons.svg

Also it creates ```dist/dist/icons/[

[2016-03-09 23:15] andrewjamesford commented on #60
@lgordey here is a simple demo project I made https://github.com/andrewjamesford/webpacksvgstoredemo

[2016-03-11 08:11] fr-ench opened #61 "SvgStore adds excessive slash to svg sprite path"
Sorry to write again. This time I noticed the bug with the path happening at this line of code:
 _ajax.open('GET', baseUrl + '/' + url, true);

It means that if I use smth like this with webpack
_new SvgStore(
        path.resolve("svg/src/**/*.svg"),
        "/dist",
        {
                name: 'svg.sprite.svg',
                prefix: 'icon-',
                chunk: 'headscripts',

[2016-03-11 09:49] lgordey commented on #61
Thank you for your feedback.
Fixed version will be released at the weekend I hope.

[2016-03-11 10:19] fr-ench commented on #61
@lgordey, thank you!

[2016-03-14 23:22] chicoxyzzy commented on #60
would be great to add test case to prevent future regressions

[2016-03-16 08:10] lgordey commented on #61
@fr-ench Please, try fixed plugin version from branch - https://github.com/lgordey/webpack-svgstore-plugin/tree/feature/fix-paths-bug

[2016-03-16 08:10] lgordey commented on #60
@fr-ench Please, try fixed plugin version from branch - https://github.com/lgordey/webpack-svgstore-plugin/tree/feature/fix-paths-bug

[2016-03-16 08:11] lgordey commented on #51
@tb  Please, try fixed plugin version from branch - https://github.com/lgordey/webpack-svgstore-plugin/tree/feature/fix-paths-bug

[2016-03-16 17:22] janhoogeveen opened #62 "Combine with Webpack Dev Server"
How would you combine this package with Webpack Dev Server?

My webpack-dev-server is running on port 3001.
My public app is running on port 3000.

My Publicpath is configured to a host + port so the Ajax request to the file looks like http://localhost:3000/http://localhost:3001/dist/icons/sprite.svg

I can rewrite basePath to http://localhost:3001 but then you get a request to http://localhost:30

[2016-03-16 17:32] janhoogeveen commented on #42
@limpbrains After checking our your fork of react-starter, I don't think you solved the issue. You can see if you open the page that it makes a request for http://localhost:8080/http://localhost:2992/_assets/svg/60ef7de3fa5632941b24ab62eb608009.sprite.svg

[2016-03-16 18:36] mrsum commented on #62
Hello! We can't realised this feature, cause svg concatenation action is really high CPU level action.
But i think about this feature.

[2016-03-17 19:21] fr-ench commented on #61
@lgordey,

For me it still doesn't look correct.
This lines of code
_fullPath = 'http://' + (baseUrl + '/' + url)
    .replace(/^http\:\/\//, '')
    .replace(/\/+/g, '/')
    .replace(/\/+$/, '');

will product invalid url if baseUrl and publicPath are both undefined (baseUrl undefined) and url will start just with the domain name. The same problem happens if I define basicUrl that starts with "h

[2016-03-18 19:27] ehinter opened #63 "Using svgoOptions"
Hi, can you add some documentation on the proper way to use svgoOptions? I'm currently using it like this:

`svgoOptions: {
    removeTitle: false,
    removeUselessStrokeAndFill: true
}`

But it doesn't seem to do anything. Is this the correct way to use the options?

Thanks!

[2016-03-23 09:20] mdopieralski commented on #63
+1

[2016-03-26 07:16] paulcoyle commented on #60
@lgordey I've tried the features/fix-paths-bug branch and I am getting the asset placed under the destination directory with the absolute path nested within it.  This is also occurring with 2.1.13 (not sure about previous versions).

For example, if the destination is set to `/home/paul/project/build`, the path to the output SVG is `/home/paul/project/build/home/paul/project/build/sprites.svg`.

T

[2016-03-29 12:10] fobdy commented on #63
as i saw the source svgo wasnt supported

[2016-03-29 19:09] eriolo commented on #29
@jlowgren did you find what was causing the problem? I have the exact same issue with not being able to write the sprite to disk.

[2016-03-30 04:23] jlowgren commented on #29
@eriolo Unfortunately not. I resorted to building an SVG sprite without the help of webpack.

[2016-03-30 22:15] lgordey commented on #63
@ehinter @mdopieralski @fobdy
You can use your custom config for SVGO like this:
[code]
I will add this to README in next release.

[2016-03-30 22:20] #63 closed

[2016-03-30 22:21] lgordey commented on #61
@fr-ench Hi!
Try 2.1.4 version

[2016-03-30 22:21] lgordey commented on #51
Try 2.1.4 version

[2016-03-30 22:23] lgordey commented on #62
@janhoogeveen Hi!
Try 2.1.4 plugin version.

[2016-03-30 22:27] lgordey commented on #60
@paulcoyle @andrewjamesford Hello!
2.1.4 plugin version should fix this.

@chicoxyzzy
I really hope to do this in the near future.
With your another opened issues :smile:

[2016-03-31 06:50] lgordey commented on #63
@ehinter
But I'm afraid that in the current architecture title is removed by the plugin by default.

[2016-03-31 07:18] janhoogeveen commented on #62
Hi @lgordey, I'll give it a go as soon as I can test this. Thanks for the headsup!
Any specific configuration I need to be aware of?

[2016-03-31 09:02] lgordey commented on #62
I think no.
Unfortunately sprite will not be recreated automatically, but must work in development mode with correct paths by default.

[2016-04-02 22:56] paulcoyle commented on #60
@lgordey sorry, I am still getting the full, absolute path nested into the output directory as above.

[2016-04-03 15:01] lgordey commented on #60
If we test on @andrewjamesford demo with 2 fixes:
 - change version in package json to `2.1.4`
 - fix source path like `path.join('images', 'icons', '*.svg')`

everything will work correct.

Because now he has `path.join('App', 'images', 'icons', '*.svg')` but `App` folder doesn't include `images` folder - and it was the mistake in config.

@paulcoyle So can you please make a little demo with this

[2016-04-03 15:05] lgordey commented on #61
@fr-ench Tell me please if the problem is still relevant.

[2016-04-03 15:05] #61 closed

[2016-04-03 21:07] lgordey commented on #39
@chicoxyzzy check https://github.com/mrsum/webpack-svgstore-plugin/pull/65

[2016-04-04 11:34] oller commented on #51
I suspect this is still a problem with `2.1.4`

I've the same problem as @tb, my app has the following structure.

[code]

with the following config:

[code]

A `symbols` directory is created on the root of the project, it is then copied into `dist` correctly by webpack, however the temp directory remains on the root also.

If I try and fix it with the destination argument being "dist/symbols" the

[2016-04-04 11:52] lgordey commented on #51
@oller Thanks for your feedback!

Can you make a little demo to reproduce this error?

[2016-04-04 12:48] oller commented on #51
Aha, I've found a tidier workaround.

I'd rather defer to webpack on where the output files should be, rather than specifying them again, so i'm now passing an empty string into the plugin, and using a common pattern used with other loaders to use a file path in the `name` value to create a subdirectory.

This gets around all the problems and binds everything back to webpack's `output.path`

[code

[2016-04-04 18:41] lgordey commented on #51
@oller I think we can try to find the real reason and make it cleaner.

In @tb's demo I saw:
- output webpack path
[code]
- plugin path
[code]
So that's why he had `dist/dist` path and it can be easily fixed with config.

[2016-04-05 09:43] oller commented on #51
@lgordey, unfortunately, even with that corrected config - the problem with the temp created folder on the root is still an issue I'm afraid. (this is using the config pasted at : https://github.com/mrsum/webpack-svgstore-plugin/issues/51#issuecomment-205257285 )

In anycase, adding any subdirs into the `name` value as often cited in other loader examples, seems to get around this, so I'm happy to

[2016-04-05 10:53] lgordey commented on #51
@oller, well, as you wish :)
Thanks for your feedback!

[2016-04-05 10:53] #51 closed

[2016-04-07 15:57] MikeW90 opened #68 "Case sensitivity for symbol: {viewBox: { } }"
When I try to set symbol: {viewBox: '0 0 100 100'}  in the SvgStore options, no changes occur with the symbol's viewBox attribute. If, however, I edit helpers/utils.js such that viewBox: dom.attribs.viewBox  is changed to viewBox: dom.attribs.viewbox (removing the capitalization) the problem goes away. Is this an issue that can be resolved in a subsequent release? And does there currently exist so

[2016-04-08 07:41] lgordey commented on #68
@MikeW90 Hi!
That's not correct.
We will lose `viewBox` parameters of each svg separately if remove capitalization.

In fact, in the settings you specify a `viewBox` for a sprite (if you need it), and not for a particular symbol.
And code like:
[code]
works for me (as sprite viewBox attribute).

So I do not really understand your problem.
Can you give an example?

[2016-04-10 12:26] #39 closed

[2016-04-10 12:30] lgordey commented on #60
I hope the problem goes away, but if not - write here

[2016-04-10 12:30] #60 closed

[2016-04-16 08:19] DragorWW opened #70 "require svgxhr function from webpack-svgstore-plugin"
if webpack in watch mode or use webpack-dev-server this plugin not add svgxhr to chunk.

I suggest rewrite svgxhr.js to commonJs style. So I could require in my code.
[code]

[2016-04-19 09:12] Krisa opened #71 "Support in webpack2"
As ConcatSource is not part of Webpack2, this fails when the plugin is trying to resolve `webpack/lib/ConcatSource`.

[2016-04-19 10:27] mrsum commented on #71
Hi @Krisa we are didn't decide yet for maintain this package at webpack v2 cause right now it's beta and production not ready.

[2016-04-19 13:35] mrsum commented on #70
Cool! I want to include this method at new release!

[2016-04-22 16:29] lgordey commented on #68
@MikeW90 I suppose the problem is no longer relevant

[2016-04-22 16:29] #68 closed

[2016-04-25 17:08] feedm3 opened #73 "Webpack Dev Server doesn't bundle sprite.svg on recompile"
When I start the webpack dev server everything works fine on the inital startup. All svg's get bundled correctly and I can use them in my app. But after I do a codechange and therefore trigger a recompile, the sprite.svg file doesn't get bundled and all svg icons are gone.

I initialize the SVG Store as following:
[code]

[2016-04-28 06:51] AlexYankee commented on #73
+1 same here

[2016-04-28 17:58] eilinora commented on #73
same as well

[2016-04-29 10:24] dmitriid opened #75 "document.addEventListener must be passed a function, not function invokation"
We keep running into a probem with svgXHR occasionally throwing the following error:

[code]

And here's the [culprit](https://github.com/mrsum/webpack-svgstore-plugin/blob/develop/helpers/utils.js#L285):

[code]

According to [MDN](https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener):

The code above should be:

[code]

[2016-05-04 09:23] levrik opened #77 "Chunk option not compatible with HMR"
If I'm using the webpack-dev-server with HMR (hot module replacement) and this plugin with the `chunk` option a new div gets created every time I change something.
This leads to a couple of hundred SVG stores. Not critical in production but in development it slows down the browser extremely at some point.

[2016-05-06 12:22] AlexYankee commented on #73
@feedm3, @eilinora - here is my fork having this issue fixed https://github.com/AlexYankee/webpack-svgstore-plugin (with files caching integrated as well from https://github.com/restrry/webpack-svgstore-plugin)

[2016-05-06 15:16] eilinora commented on #73
@AlexYankee excellent! I was just starting to investigate the issue, are you going to PR against the mrsum's or maintain this as a separate fork?

[2016-05-06 15:39] lgordey commented on #73
I'll take a look on all issues and pr's on the weekend.
New version will be released within three days.

Thanks for feedback.

[2016-05-06 17:54] lgordey commented on #73
@AlexYankee you can make PR without cache fixes of already created PR for clean changes

[2016-05-06 18:52] AlexYankee commented on #73
@lgordey, well, it mostly about replacing compile > optimize-chunk-asset with single emit subscription.
Will do if no fix will land in mean time.

[2016-05-11 16:26] plankguy opened #78 "Define custom template"
Would love to be able to create my own jade template(s). Could there be an option added for that?

[code]

[2016-05-11 19:08] plankguy commented on #78
#79

[2016-05-11 23:38] lgordey commented on #73
@feedm3 @AlexYankee @eilinora Try to use 2.2.0 version.

[2016-05-11 23:39] plankguy commented on #78
Sweet thanks for getting on this! :smiley:

[2016-05-11 23:39] lgordey commented on #77
@levrik Try to use 2.2.0 version. Is it fixes this?

[2016-05-11 23:40] lgordey commented on #78
No problem! 👍  Use 2.2.0 version

[2016-05-11 23:40] #78 closed

[2016-05-11 23:41] lgordey commented on #62
@janhoogeveen Hi! Check 2.2.0 version

[2016-05-11 23:41] #62 closed

[2016-05-11 23:41] lgordey commented on #54
@restrry Thanks for PR. 👍 Use 2.2.0 version.

[2016-05-11 23:41] #54 closed

[2016-05-13 07:25] #73 closed

[2016-05-13 18:42] levrik commented on #77
Sadly no, it not fixes it :/

[2016-05-17 11:52] mojereliev opened #82 "proportional size"
This plugin generate styles with proportional icon sizes?

[2016-05-17 19:30] everdimension commented on #77
Isn't this a HMR problem?

[2016-05-23 20:01] lgordey commented on #82
Plugin generates sprite from svgs on webpack emit state

[2016-05-23 20:01] #82 closed

[2016-05-31 05:23] voten opened #85 "path.isAbsolute error"
get this issue

new to svgstore and webpack, so guess it's me :-), but don't know where to look for

Unhandled rejection TypeError: Object #<Object> has no method 'isAbsolute'
    at Compiler.<anonymous> ...node_modules\webpack-svgstore-plugin\index.js:70:25)
    at Compiler.next ....node_modules\webpack\node_modules\tapable\lib\Tapable.js:69:14)
    at ...node_modules\html-webpack-plugin\index.js

[2016-05-31 15:20] dmitrif opened #86 "When using an absolute output.publicPath, svgXHR uses a faulty path."
Given that the webpack output.publicPath is set to something like `'http://hostname:port/path/'`, and baseUrl is set to `''`, currently results in the svgXHR trying to access '/http://hostname:port/path/sprite.svg'. Instead the leading slash should only be present when a baseUrl is provided.

[2016-05-31 15:21] dmitrif commented on #86
Getting a PR ready for this fix.

[2016-06-02 20:38] islautin commented on #85
@IvoDecae path.isAbsolute has been added to Node 0.12. There is an open PR to use polyfill for older version but you can just upgrade your Node version.

[2016-06-02 21:16] shaunwest opened #90 "Output SVG sprite to file system when using webpack-dev-server"
I'm using webpack dev server for JS and CSS, but I'd like to output the SVG sprite generated by SvgStore to the file system. It works fine with normal webpack, but with the dev server I'm unable to find a way to do it. Is this even possible? Or does SvgStore only do in-memory output with the dev server?

[2016-06-05 07:55] lgordey commented on #71
Fixed by https://github.com/mrsum/webpack-svgstore-plugin/pull/81

[2016-06-05 07:55] #71 closed

[2016-06-05 09:00] lgordey commented on #90
Yes, in webpack-dev-server mode all files are ran from memory and not copied anywhere

[2016-06-06 17:29] shaunwest commented on #90
Would it make sense to add an option that forces SvgStore to copy files even when using the dev server? I could look into adding it myself.

[2016-06-08 22:58] DavidWells commented on #63
I'm also having issues with this.

It would appear that changing any of the SVGO options has no effect on the final sprite.

What is the correct format for changing options more complex config options?

This code causes the build to fail silently and no sprite is generated
[code]

[2016-06-08 23:16] DavidWells commented on #63
How can I change the precision option for example https://github.com/svg/svgo#how-to-use?

Thanks!

[2016-06-09 00:35] DavidWells opened #91 "Rounded SVGs paths malformed after optimization"
![image](https://cloud.githubusercontent.com/assets/532272/15915510/98862f12-2d9e-11e6-98e0-055be35e7d09.png)

The SVGO optimizations are toooo good and they are causing some round icons to become appear malformed.

Have you seen this issue before and/or do you have any suggestions on how to fix?

Thanks for the awesome plugin btw!

For reference, this is the SVG before minification which appears

[2016-06-09 14:13] lgordey commented on #91
Thanks for your feedback!
I look at it to make it clear on which side the problem: svgo lib or our plugin

[2016-06-09 20:39] DavidWells commented on #91
Man o man those SVGO docs sure could use some work =P

This was the answer: https://twitter.com/DavidWells/status/741005631734321152

I managed to figure out the solution and exactly how to configure this webpack plugin.

[code]

[2016-06-09 20:39] #91 closed

[2016-06-15 13:27] jonespen opened #92 "Support multiple instances"
Is it possible to generate multiple sprite files? I'm creating a styleguide, and it would be nice to output a sprite.html (using custom `template`) with all the icons.

When trying the following code
[code]

I get the following error:
[code]

It works fine with one instance.

Btw, great project 💯

[2016-06-15 15:21] dmitrif opened #93 "Chunkhash remains unchanged with svgXHR"
Since SVGXHR code is added during the `emit` compiler phase, the resulting chunkhash stays the same.

Given `dummy.js` that is blank, and the following setup:
[code]

The resulting filename is always identical.

[2016-06-16 10:30] dmitriid opened #95 "Breaks on webpack 1.13.1"
tl;dr Having plugin enabled breaks webpack builds somwhere in `webpack-core/lib/ConcatSource.js`

[code]

This installs `webpack 1.13.1`

Given the following `webpack.config`:

[code]

Trying to run this results in:

[code]

Will report this to webpack as well, could be a problem on their side: see webpack/core#24

[2016-06-16 19:29] soluml commented on #95
Ok.. man.. I've been banging my head on this issue thinking it was something in my setup.  I'm definitely experiencing this as well.  Both on 1.13.1 and the version I upgraded from, 1.10.5.

The issue only occurs when I set the chunk value.  If I leave the chunk value blank, the error doesn't occur, but the SVG does not build.

I'm also using the CommonsChunkPlugin as in the example above.

[2016-06-20 12:28] mrsum commented on #95
Hi! Can you look, this version 3.0.0-alpha.1?
code here https://github.com/mrsum/webpack-svgstore-plugin/tree/feature/refactor

I rebuild main idea.

[2016-06-20 12:41] dmitriid commented on #95
Same problem, sadly :(

[2016-06-20 12:53] mrsum commented on #95
@dmitriid do you red readme for this version?

[2016-06-20 13:23] dmitriid commented on #95
@mrsum What are the differences?

The only difference I see is

which, honestly, I have no idea what it means :)

[2016-06-24 08:50] mrsum commented on #95
@dmitriid try 3.0.0-alpha.2 version
documentation here https://github.com/mrsum/webpack-svgstore-plugin/blob/feature/refactor/README.md

[2016-06-24 08:50] mrsum commented on #93
try 3.0.0-alpha.2 version
documentation here https://github.com/mrsum/webpack-svgstore-plugin/blob/feature/refactor/README.md

[2016-06-24 08:51] mrsum commented on #92
@jonespen Hello!

Can you try 3.0.0-alpha.2 version?
documentation here https://github.com/mrsum/webpack-svgstore-plugin/blob/feature/refactor/README.md

[2016-06-24 10:06] jonespen commented on #92
Hey, thanks!

I upgraded, and it works, but I still can't figure out how to specify two different templates. AFAIK svgxhr don't take a template as parameter

[2016-06-24 10:23] mrsum commented on #92
Hi @jonespen i don't understand what you mean about 'templates'

[2016-06-24 10:24] mrsum commented on #92
jade/pug template for compiling data to svg, or different sprites by mask?

[2016-06-24 10:28] mrsum commented on #92
Wherever, if you want compile 2 or more different sprites, you can use follow code
[code]

[2016-06-24 10:29] mrsum commented on #77
Try 3.0.0-beta

[2016-06-24 10:29] #77 closed

[2016-06-24 10:31] mrsum commented on #38
in 3.0.0-beta all paths is relative by publicPath.

for example, if your publicPath is /var/first/folder/ and you using

[code]

sprite will compile to /var/first/folder/assets/svg/

[2016-06-24 10:31] #38 closed

[2016-06-24 10:32] mrsum commented on #70
@DragorWW Hi bud! Thx for your advice, i'am refactor plugin and you can test it in 3.0.0-beta version

[2016-06-24 10:32] #70 closed

[2016-06-24 10:32] mrsum commented on #85
fixed

[2016-06-24 10:32] #85 closed

[2016-06-24 10:33] mrsum commented on #93
fixed. all sprites will has [hash] as timestamp.

[2016-06-24 10:33] #93 closed

[2016-06-24 10:33] #75 closed

[2016-06-24 10:34] mrsum commented on #86
in 3.0.0-beta you can override svg ajax loader with your domain name

[2016-06-24 10:34] #86 closed

[2016-06-24 10:35] mrsum commented on #90
fixed 3.0.0-beta

[2016-06-24 10:35] #90 closed

[2016-06-24 10:37] jonespen commented on #92
Jade/pug template. If this could be customizable, I could create a html file with all the icons in the svgstore.

[2016-06-24 10:40] mrsum commented on #92
You can set up template

[code]

[2016-06-24 13:36] #92 closed

[2016-07-25 16:00] matpaul opened #98 "Long-term caching support"
Hello!
Currently [hash] generated with buildTimestamp so every build time - hash change.

Could you suggest me how to implement long-term caching, i mean change hash if content change.

Thanks!

[2016-07-28 09:11] mrsum commented on #98
Hi @matpaul thnx for issue. I'll think abt it.

[2016-07-29 13:26] mrsum commented on #98
Yay @matpaul !
Your request has been completed.

Actual code here https://github.com/mrsum/webpack-svgstore-plugin/blob/develop/src/helpers/utils.js#L272

Try webpack-svgstore-plugin@3.0.1
If everything is okay. Plz close current issue.

[2016-07-30 18:11] matpaul commented on #98
@mrsum thx a lot!

[2016-08-01 18:00] roastlechon opened #99 "3.0.1 and 3.0.2 broke being able to find svg asset"
usage code:

[code]

Network panel on dev tools and server shows:

[code]

[2016-08-02 08:22] mrsum commented on #99
Hi @roastlechon thx for issue.
I'll see your report tight now.

[2016-08-02 09:20] mrsum commented on #99
@roastlechon could you fix on 3.0.0 version, i'll let you know when bug will fixed.

[2016-08-02 09:20] matpaul commented on #99
@mrsum Sorry it's my fail, i check previous commit (Long term caching) in build time and it's work, but in webpack dev server i have same issue as above.

[2016-08-02 09:21] mrsum commented on #99
@matpaul Don't worry about it ) I'll fix ASAP

[2016-08-02 09:21] matpaul commented on #99
@mrsum Big Thx!

[2016-08-02 16:06] mrsum commented on #99
@roastlechon @matpaul Guys, i've spent all day and best decision what i took is revert to version without caching support.

I've bring back 3.0.0 version as 3.0.3 cause i cant unpublish them.
So, i'll back soon for resolving  https://github.com/mrsum/webpack-svgstore-plugin/issues/98

[2016-08-03 02:33] roastlechon commented on #99
Thanks for the quick reply/discussion @matpaul  @mrsum. I fixed on 3.0.0 in my package.json.

[2016-08-04 06:45] kaarholt opened #100 "Bug in utils:_defs function when encountering a text node"
Error occurs in
`if (child && child.children.length > 0)` and `if (child && child.attribs.id)` when child lacks a `children` or `attribs` attr. This occurs (at least) when `child` is of type 'text'.

quick fix:
Changing the problematic lines to `if (child && child.children && child.children.length > 0)` and `if (child && child.attribs && child.attribs.id)`

Example input:

[code]

[2016-08-04 10:30] #95 closed

[2016-08-04 14:34] kevin-ashton opened #101 "Request: Barebones sample app"
Is there a barebones sample app someplace? I'm having trouble getting it to build a sprite.svg even after going through the documentation. I'm sure it's some small little thing I'm doing wrong but it would be nice if there was a simple working app I could start from.

[2016-08-04 22:00] ZebraFlesh opened #102 "3.x breaking change?"
I tried to upgrade from 2.x to 3.x and my webpack process no longer outputs SVG sprites. It seems like an additional assumption was added in version 3. What's the minimum that needs to occur for this plugin to produce a sprite?

Here's my very simple webpack.config.js. I'm producing a library and leaving all of the transpilation and bundling up to consumers.

[code]

[2016-08-05 08:05] mrsum commented on #102
Hi @ZebraFlesh look here https://github.com/mrsum/webpack-svgstore-plugin/blob/develop/README.md

3.x version is almost refactoring and using new logic

[2016-08-05 12:43] ZebraFlesh commented on #102
I read that, but it didn't really shed any light on why something that to used to work now does not. It looks like the options I'm passing to webpack-svgstore-plugin are correct, but it's simply not running -- like its running was moved to a different phase of compilation or something.

[2016-08-09 10:10] kazagkazag opened #103 "Async loading svg sprite won't work on IE9 because of XDomainRequest"
There is a block of code in `svgxhr.js`...
[code]
With that in source code my icons won't load in IE9 and IE10. `_ajax.onerror` throws error but there is no error message, so I don't know why it doesn't work.
**But! When I commented this out, icons appeared!** IE9 can use XMLHttpRequest as well.

As far as I know, XDomainRequest is some kind of sub-standard introduced by MS years ago. Do you reall

[2016-08-12 11:46] matpaul commented on #99
@mrsum any updates ?)

[2016-08-12 22:49] khmelevskii opened #105 "Add example for use"

[2016-08-17 20:29] justo commented on #63
That is bummer, I spent a while trying to figure out why my titles were being removed.

[2016-08-19 16:44] eilinora commented on #105
This would be greatly helpful! The documentation is sparse and with the change between 2.0 and now 3.0 it's hard to know what exactly needs to be done get the plugin working again. Better documentation an example would be helpful.

[2016-08-19 16:46] eilinora commented on #102
I'm also encountering this same issue. Before it automatically injected the generated output into the page, this appears not to be happening anymore, or even processing the svg sprites when tracing through the component logic

[2016-08-20 12:51] gendalf opened #106 "Support assetsPublicPath in webpack config"
When assetsPublicPath in webpack isnt "/", module not add it to svg url in xhr

[2016-08-23 09:33] monkeychops opened #107 "In production svgs not showing"
In dev mode they are being inlined and i can reference like so

<svg role="presentation">
        <use xlink:href="#icon-logo"></use>
</svg>

In production I can see them inlined in the template, but they do not show

[2016-08-23 09:39] mrsum commented on #107
@monkeychops more details plz. give me your webpack.config.js

[2016-08-23 09:52] mrsum commented on #103
@kazagkazag Hello.
You can override loader function into your project.

BTW. copy ajax helper svgxhr.js file.

[2016-08-23 09:52] #103 closed

[2016-08-23 09:53] mrsum commented on #105
@khmelevskii @eilinora can you look up to https://github.com/mrsum/webpack-svgstore-plugin/tree/develop/platform this folder.

I think this example is enough

[2016-08-23 09:54] mrsum commented on #106
@gendalf you are right. which logic u expect?

[2016-08-23 09:54] mrsum commented on #101
@kevin-ashton look here plz https://github.com/mrsum/webpack-svgstore-plugin/tree/develop/platform

[2016-08-23 15:08] mrsum commented on #99
@matpaul I finished for long-term caching support
https://github.com/mrsum/webpack-svgstore-plugin/blob/feature/long-term-caching/src/svgstore.js

after testing, will publish new release in next few days

[2016-08-23 15:33] mrsum commented on #105
@khmelevskii @eilinora Made new README.md here
https://github.com/mrsum/webpack-svgstore-plugin/blob/feature/long-term-caching/README.md

[2016-08-23 15:33] #105 closed

[2016-08-23 17:34] gendalf commented on #106
assetsPublicPath = "/clientroom"
__svg__ = { path : "assets/svg.." }
Injected with path http://.../assets/svg...  = 404

assetsPublicPath = "/clientroom"
__svg__ = { path : "clientroom/assets/svg.." }
Injected with path http://.../clientroom/assets/svg...  = 404

[2016-08-28 18:57] kazazor opened #108 "svgo integration not working well"
Hi,
I'm having a problem with the plugin in terms of the `svgoOptions` integration.
I'm using version `3.0.3` of the plugin.

This is the configuration I've for the plugin:
[code]

My end result svg file looks like this:
[code]

As you can see, I still have `xmlns` attributes in my generated `symbols`..
I do know that the plugin is working since my app is running + you can see int he result svg th

[2016-08-28 18:59] kazazor commented on #108
Oops.. My bad here, I was looking at it wrong :)

[2016-08-28 18:59] #108 closed

[2016-08-29 08:43] mrsum commented on #108
@kazazor Glad to hear that ^^

[2016-09-01 13:53] ggarek opened #109 "use webpacks public path instead of window.baseUrl"
As for version 3.0.3 there is a problem with resolving sprite paths at runtime.
It is necessary to consider [webpack's public path](https://github.com/webpack/docs/wiki/Configuration#outputpublicpath) at runtime to build a proper url for current runtime environment. The path can be accessed as `__webpack_public_path__` in the chunk entry file.

It is the case when the asset path is not known stati

[2016-09-01 14:58] ggarek commented on #109
i think that, this fix makes [`window.baseUrl` magic](https://github.com/mrsum/webpack-svgstore-plugin/blob/develop/src/helpers/svgxhr.js#L26) redundant. But it also is a breaking change, so it must be mentioned in the change log.

[2016-09-05 07:50] rlebosse opened #111 "Use svgo 0.7.0"
svgo passed from 0.6.6 to 0.7.0 10 days ago, could we use it in webpack-svgstore-plugin ?

[2016-09-10 07:44] ggarek commented on #109
Renamed the issue, because it is all about using public path provided by webpack in runtime instead of another global variable.

[2016-09-15 12:22] fresk-nc commented on #98
any news?

[2016-09-15 21:18] BrysonR opened #115 "Silently Fails With Webpack 2"
I know this is jumping the gun since Webpack 2 isn't stable yet, BUT given people are going to be upgrading, or testing upgrading, in the near future, it might be useful to inform devs that their spritesheets have not been created, rather than just failing in the background with no indication.

[2016-09-16 09:04] mrsum commented on #115
Hi! Let's wait for first stable release.

[2016-09-16 09:05] mrsum commented on #111
@rlebosse Hi, sorry for delay, was so busy at least month.
Ready in 3.0.4

[2016-09-16 09:05] #111 closed

[2016-09-16 09:07] mrsum commented on #98
@fresk-nc Noup. Was so bussy. Will implemented in 3.0.5
Sorry for...

[2016-09-21 23:23] drosen0 commented on #115
Note that right now, webpack's version is specified as
[code]
which means that webpack 2 beta is currently the default install of webpack.

[2016-09-22 08:03] ephor commented on #92
var __svg__ = { path: './svg/folder-1/*.svg', name: 'assets/svg/[hash].icons.svg' };
require('webpack-svgstore-plugin/src/helpers/svgxhr')(__svg__);
[code]

Can I use something like this, but in config (not in chunk)?

`new SvgStore(
     //=========> input path
     [
         path.join(__dirname + 'public/', 'image/svg_icons/market', '*.svg'),
         path.join(__dirname + 'public/', 'image/svg

[2016-09-23 11:15] elephantme opened #117 "convert my letter from uppercase to lowercase"
After build, this plugin change id name to lowercase。
used version is 'webpack-svgstore-plugin@3.0.4'

[2016-09-23 15:40] NeXTs commented on #107
@mrsum Должно быть ты должен был использовать телекинез.
Поражает насколько наплевательски люди относятся к таким вещам.
Ну интересовала проблема, почему не приложить немного усилий и скинуть больше инфы? В его же интересах.
Что случилось.. он ее решил, но про ишью забыл? возможно не решился сбросить конфиг? либо вообще уволился с компании где стояла эта задача, в чём дело?

[2016-09-26 08:39] mrsum commented on #107
@NeXTs Это же опен сорс ) тут всегда так

[2016-09-26 08:39] #107 closed

[2016-09-26 08:46] mrsum commented on #117
@elephantme You are right.

[2016-09-26 08:46] #117 closed

[2016-10-05 04:32] DragorWW opened #118 "[IE9] XDomainRequest not fired onload"
in IE9 `./helpers/svgxhr.js` XDomainRequest not run callback _ajax.onload;

if comment this code:

[code]

in ie9 start working loading sprite.

[2016-11-02 12:40] nadavsinai commented on #115
Hi works for me -;) but notice that it gives a warning on the console :
[code]

i will try to do as it says and push a PR now

[2016-11-02 12:43] mrsum commented on #115
@nadavsinai will be awesome

[2016-11-03 08:56] nadavsinai commented on #115
ok see #119
I could not resist to make it more modern, and update libs on the way (pug was giving warnings etc)

it means the lib is not compatible with node  < 4... you need to remove this from CI if you ask me, but of course choice is yours...

[2016-11-10 12:40] Bercon commented on #102
Yeah it'd be nice to have migration documentation from 2.x.x to 3.x.x. Seems like this requires significant changes to how the webpack-svgstorage-plugin is used

[2016-11-10 17:11] BenSwennen commented on #107
I have the same issue when I deploy my storybook instance. Here is my webpack.config.js:
[code]

[2016-11-11 09:20] mrsum commented on #102
@eilinora @Bercon actually its small changes.
If you still have question, have a look at this url
https://github.com/mrsum/webpack-svgstore-plugin/tree/develop/platform

this folder contain actual settings for webpack

[2016-11-11 09:20] #102 closed

[2016-11-11 09:20] #118 closed

[2016-11-11 09:21] #101 closed

[2016-11-11 09:21] #100 closed

[2016-11-11 13:52] ZebraFlesh commented on #102
Respectfully, these are large changes. Previously it was possible to include this plugin and have it process a directory of SVGs into a sprite sheet. There was no requirement to `require` the SVG files in your javascript with 2.x and earlier -- it just worked. But now with 3.x, that mode of execution is no longer possible.

I think all of the people who are showing up here and asking very confused

[2016-11-14 03:40] DragorWW commented on #118
@mrsum what reason for close ?

[2016-11-14 09:53] mrsum commented on #118
@DragorWW cause you can override svgxhr.js

[2016-11-14 10:51] AndyOGo opened #120 "Treeshaking breaks sprite build"
Using [`rollup-loader`](https://www.npmjs.com/package/rollup-loader) to utilize treeshaking removes all function marks like `var __svg__`, `var __sprite__`, etc.

Hence no sprites get generated.

[2016-11-14 14:17] mrsum commented on #120
Is it [WIP] currently, right?

[2016-11-14 14:26] AndyOGo commented on #120
@mrsum
Yeah it is WIP, actuallyI'm not certain [if it got abandoned](https://github.com/egoist/rollup-loader/issues/1) in favour of webpack 2.

Anyway function marks will fail with treeshaking approach.

[2016-11-14 16:13] mrsum commented on #120
@AndyOGo Okay, i will fix it ASAP.

[2016-11-16 05:51] DragorWW commented on #118
@mrsum Yes, I did, but does not cancel bug.
for other, my code witch path for ie9:
[code]

[2016-12-01 14:05] restrry commented on #98
Guys, what is current status? as I can see last version in npm is `3.0.6`, but timestamp is still used as hash.

[2016-12-01 16:44] ourfeel commented on #118
The xdr.send() call is wrapped in a timeout to prevent an issue with the interface where some requests are lost if multiple XDomainRequests are being sent at the same time.

[2016-12-19 08:02] iamrane opened #122 "Use environment variables in path"
Hi!
It seems to be something wrong when i use environment variables in my path value.
I guess its the order that webpack do things.

From my understanding webpack replaces the env. variable on build, but it seems to me that __svg__ magick is happening before this?

My code looks like

[code]

and plugins in config

[code]

[2017-01-03 20:59] philippkuehn commented on #115
+1

[2017-01-18 15:01] nadavsinai commented on #115
who ever wants to use this today with webpack 2.2 can use my fork at https://github.com/Algotec/webpack-svgstore-plugin

[2017-01-23 05:37] SLyHuy opened #124 "Render wrong color + shape of SVG icons"
Render wrong color + shape of SVG icons
Same issue here: https://github.com/kisenka/svg-sprite-loader/issues/74
But this one is wrong in shape too.

![screen shot 2017-01-23 at 12 35 32](https://cloud.githubusercontent.com/assets/1643397/22192678/8f79e46c-e168-11e6-8e3c-e4bf9c56d7a7.png)

My node version: v6.9.4

[2017-01-23 10:46] restrry commented on #124
I could be wrong, but seems like result of svgo minification. probably, svgo processing should be optional

[2017-01-24 08:55] mrsum commented on #124
@SLyHuy look up to
[code]

doc available here https://github.com/svg/svgo

[2017-01-24 08:56] mrsum commented on #122
@iamrane think that ```const``` isn't parsed cause when plugin was wrote, ```let/const``` not support

[2017-01-30 09:28] rlebosse opened #125 "Retrieve generated .svg file content in js"
Instead of loading asynchronously the generated .svg file, is there a way to retrieve it's content in a js file ?

Something like this :
[code]

Thanks!

[2017-02-06 15:50] balazswmann opened #128 "Specific instantiate options"
Is is possible to provide specific instantiate options like class or id attributes for the svg element? Maybe I just don't see my mistake, but the snippet below doesn't work fork for me:

`
var __svg__ = {
  path: '...',
  name: '...',
  svg: {
    id: 'myid',
    class: 'myclass'
  }
};
`

[2017-02-14 09:51] iamrane commented on #122
I changed to var. Still not working. Its just stops at "90% optimize assets" when i start webpack.
If i hard code the value of a variable and try to use it, it still doesn't work. I guess its somehow how the __svg__ magic is being used.

[code]
works fine but not
[code]

[2017-02-14 12:42] iamrane commented on #122
I made it work.
if (process.env.BRAND === 'mybrand') {
   var __svg__ = { path: '../../../styles/mybrand/images/svg-icons/**/*.svg', name: '[hash].icons.svg' };
}
if (process.env.BRAND === 'myotherbrand') {
   var __svg__ = { path: '../../../styles/myotherbrand/images/svg-icons/**/*.svg', name: '[hash].icons.svg' };
}
require('webpack-svgstore-plugin/src/helpers/svgxhr')(__svg__);

[2017-02-21 10:09] #122 closed

[2017-02-21 13:21] iamrane opened #129 "name icons icon-[folder]-[filename]"
This is more of a question than an bug.
How can i name the icons icon-[folder]-[filename].
I guess it can be done with the template some how.

[2017-02-24 08:49] iamrane opened #130 "Calling wrong url to the svg file on production"
When i try it on dev it works perfect, when Im trying this on production its calling with a weird url.
```https://www.mydomaincom/https://www.mydomaincom/static/1487869309421.icons.svg```

webpack.base.js
[code]

in my js
[code]

[2017-03-04 18:05] xeho91 commented on #115
@nadavsinai
Does your fix works with Webpack v2.2.1?

I'm getting firstly warning:

And then error:

[2017-03-06 11:43] joaquimjmsilva commented on #125
Hi,
I had the same need, so I did like this:
` var __svg__ = { path: '../icons/*.svg', name: '[hash].icons.svg' };`
`// console.log(__svg__.filename); - Has the public path of the file, so you can use it for what you want.`
`// For example:`
`<svg>`
`    <use xlink:href="<%=__svg__.filename %>#icon-<name>"  />`
`</svg>`

[2017-03-07 09:08] lgordey commented on #115
Ok, don't worry.
We'll up the major version soon, in a few days I think.

[2017-03-08 21:16] pswami commented on #115
+1

[2017-03-11 10:32] lgordey commented on #115
Try to use v4.0.0

[2017-03-11 10:32] #115 closed

[2017-03-12 10:09] nadavsinai commented on #130
you need to set a base url tag in your html

[2017-03-12 10:11] nadavsinai commented on #130
my mistake, looking at the code it seems that the public url by webpack config is what's used here, so set that accordingly see https://github.com/mrsum/webpack-svgstore-plugin/pull/110/commits/37880b357bddead285a046e8abbaef1f318c93dd

[2017-03-20 09:32] sergek opened #133 "webpack-dev-server doesn't serve sprite with v4.0 and webpack 2"
Hi, I've tried v4.0 and webpack2 and I'm having an issue with webpack-dev-sever not serving svg sprite over ajax request (404).

This is string from my app
const __svg__ = {
  path: '/sprite/*.svg',
  name: '/assets/[hash].sprite.svg'
};
require('webpack-svgstore-plugin/src/helpers/svgxhr')(__svg__);

This is the single string about the sprite file in webpack-dev-server output
   /assets/149000127

[2017-03-31 12:39] danfri86 opened #134 "webpack-dev-server doesn't build sprite correct"
Webpack 2.3.2
webpack-dev-server 2.4.2
webpack-svg-store plugin 4.0.0
Framework: Angular 4.0.0

In my app I'm creating my sprite with:
[code]

In webpack.config.js:
[code]

and in the plugins section:
[code]
When I'm building my app the sprite is built correct. The file is created with all my  icons.
When using webpack-dev-server I can see in my network request that the file is created in memory a

[2017-03-31 21:25] webmarkelov opened #135 "change the ajax path request?"
Hi! How change the ajax path request?
[code]
my solution:
[code]
maybe there's an even better option ?

[2017-04-04 15:53] ssbyoung opened #136 "Provide example from local folder"
Hey,

I'd really like to be able to use this in a project I'm working on. However, since the update to the latest version I can't seem to find an example where this is loading from a local folder. It seems to me like the current example is pointing at a CDN for your svg files (hence the `Put function mark at your chunk` text).

What I'd like to do is pull down my svgs from a repository and then po

[2017-04-04 22:22] JakeHenshall commented on #134
@danfri86 I have something similar where I only have one image but -a -b etc.. gets applied throughout the one image. Not sure how to fix it as I cant seem to get it to display the sprite.

This is what I'm getting:

/svg/1491343785950.sprite.svg Failed to load resource: the server responded with a status of 404 (Not Found)

main.d72535d8b64b43c5de18.js:135 Uncaught Error: Invalid SVG Response

[2017-04-08 12:54] JakeHenshall opened #137 "PNG Fallback"
Hi,

Love the plugin, is there any way for a PNG Fallback option to be automatically applied:

    <svg class="svg-icon">
        <use xlink:href="#icon-food"></use>
        <img src="dist/img/icon-food.png" alt="Icon Food">
    </svg>

Thanks Jake.

[2017-04-08 17:45] #135 closed

[2017-04-10 06:46] danfri86 commented on #134
@mrsum Got any suggestion/fix for devServer?

[2017-04-10 22:14] pafnuty commented on #134
+1

[2017-04-20 10:39] zoopoetics commented on #136
Same here. I'm trying to upgrade from 2.1.4 to 4.0.0 and I can't seem to get the new version working at all. This was our previous config:

`
new SvgStorePlugin(
      'static/images/svg-store/**/*.svg',
      'images', {
        name: 'store.svg',
        prefix: 'svg-icon-',
      }
    ),
`

It's not at all clear how you would accomplish this with the latest version, or if indeed you even can.

[2017-04-20 11:32] kulaeff commented on #133
Try to use `let` instead of `const`.

[2017-05-05 01:20] michaelmano opened #140 "More of a question."
So Im new to webpack2 and used to use svgstore with gulp. Im just wondering if anyone is able to provide assistance with getting a basic setup running.

So far I have my webpack with es6 and scss working fine and the way I want it. I have been trying to get svgstore working with it however not coming up with any luck. I have looked over the example and still cant figure it out.

I want to be able

[2017-05-10 07:03] danfri86 commented on #134
I managed to solve this by adding `prefix: ''`to my plugin settings in webpack. I can't explain why but i made it work also on devServer.

In my webpack.config.js and the plugins section I now have this:
[code]

[2017-05-10 07:04] #134 closed

[2017-05-10 14:14] jarodtaylor commented on #140
Yeah, their docs aren't very helpful at all. I'm having issues as well.

[2017-05-11 07:54] Diokuz opened #141 "hash based on content, not time"
Each time I launch webpack, it generates new svg sprite. It is bad because it changes `bundle.js` content, and that changes its hash, and that kills browser cache. So, each build kills cache, even if nothing changed.

How to make `hash` to be based on `sprite` content, not build time?

[2017-05-11 08:00] Diokuz commented on #141
Looks like this commit in @artem-malko fork solves the problem https://github.com/artem-malko/webpack-svgstore-plugin/commit/94193ad5de750959d8c354ee5548198380fd8256
Do you plan to implement that in your repo?

There is even pr, closed for some reasons) https://github.com/mrsum/webpack-svgstore-plugin/pull/123

[2017-05-12 03:49] jarodtaylor commented on #130
I'm having this same issue and @nadavsinai I'm not quite sure I understand what your solution is/was.

[2017-05-12 04:17] jarodtaylor commented on #136
It's unfortunate because gulp/grunt-svgstore plugins are so easy to use and the documentation is very straightforward. This plugin gets almost 1000 downloads a day and you'd think there'd be more examples out there.

[2017-05-12 05:26] jarodtaylor opened #142 "Used exact example in README and the svgxhr is doing something weird with the URL and I'm getting a 404"
[code]

I get this in my Chrome console:

VM21594:1 GET http://localhost:3000/http://localhost:3000/assets/svg/1494566510680.logos.svg 404 (Not Found)

If I console log __svg__ I can see the filename: http://localhost:3000/assets/svg/1494566510680.logos.svg

and this filename works because when I view source I see the <svg> code.

What am I doing incorrectly?

[2017-05-17 15:35] alexiscordova commented on #103
Looks like there may have been a regression for this. In version 4.0.0, the XDomainRequest type check block has returned, and I can confirm it causes the XHR to fail—causing the SVGs to not display—in at least IE 10. Commenting this block out displays the SVGs as expected.

[2017-05-19 01:51] alexiscordova commented on #140
@michaelmano I was in a similar boat (coming originally from grunt-svgstore and then gulp-svgstore), but this is how I got this plugin to work:

As an FYI, I exported my icons from Sketch with the SVGO Compressor plugin (https://github.com/BohemianCoding/svgo-compressor), so I'm not doing any SVGO options in my `webpack.config.js`. I highly recommend this approach. Also, I'm doing this in React, b

[2017-05-31 21:56] designspin commented on #142
I am experiencing an issue similar to this.

I am using browserSync with webpackDevMiddleware and a proxy.

[2017-06-07 20:18] smably commented on #142
My first thought was that maybe this is related to `publicPath`, but I haven't yet had a chance to debug fully.

[2017-06-07 20:21] designspin commented on #142
I fixed my issue by altering publicPath.

[2017-06-09 01:54] michaelmano commented on #140
Thanks all for the help. I managed to figure it out in the end. was just a bit a mission what i just ended up doing was first in my webpack.config.js
[code]

then in my entry
[code]

So with the xhr request for the svg I didnt end up using it as my urls are all over the shop (direct access to the folder is not allowed)

[2017-06-09 01:54] #140 closed

[2017-06-10 05:52] maqduni opened #144 "init is always null in __svg__ variable declaration"
Somehow __svg__ doesn't get assigned evaluated expression values. `createTaskContext` fails on

[code]

Am I doing something wrong, or it's just an error?

[2017-06-15 01:42] racamp101 commented on #136
does someone have the solution for this?

[2017-06-16 13:29] lgordey opened #146 "remove develop"

[2017-07-08 13:09] asafyish commented on #98
Time based has is no good, every build will have a different hash, even with the same content.

[2017-07-11 15:57] Vijayk93 commented on #142
@designspin Can u tell me how did you fix this?I am also facing this issue

[2017-07-31 01:45] michaelmano opened #148 "addAttributesToSVGElement not working."
So just a question as documentation on both parties is hard to follow.

I am trying to set my webpack config up to add preserveAspectRatio='none' to my svg.

[code]

However this is ignored. any insight would be appreciated.

[2017-08-02 11:25] MADPT opened #149 "Compile on webpack --watch"
Hello github'ers,

I've an issue that, after several hours searching, I haven't found a solution.

When I ran `npm run build`, all icons inside my folder are compiled correctly. However, if I run `npm run dev` (which runs `webpack --watch`) and add a new icon to the folder, nothing happens.

webpack.config.js
[code]

main.js
[code]

What am I missing?

Thank you in advance

[2017-08-04 09:36] GoldenRust commented on #149
I'm also having this same issue, let me know if you find a solution!

[2017-08-11 00:01] michaelmano commented on #148
For anyone who runs into this issue...

A work around is building your own svg template. below is mine. store it where you wish.

[code]

then in your webpack config.

[code]

This will now use the pug template you have created which adds preserveAspectRatio='none' to all symbols.

[2017-08-11 10:43] AndreKelling commented on #135
saved my day! found no better option.

doing it with path's like:
`
new SvgStore(path.join(__dirname + '/src', 'icons', '**/*.svg'), path.join('assets', 'svg'), {
      name: '[hash].sprite.svg',
      prefix: 'myprefix-',
      svgoOptions: {
        // options for svgo, optional
      }
    })
`
wasn't somehow not working for me.

[2017-08-11 14:04] DanDvoracek opened #150 "How to work with src and dist directories?"
I have a pretty simple issue (I guess), but I can't figure out how to amend it.

I have basically this structure for dist/src folders:

[code]

My problem is that I have to write the following for my stuff to ~ work:

[code]
The problem is the following:

Each part of the name path gets repeated in my dist directory. This means, in my case, it creates the folder `/wp-content/themes/projectname/dis

[2017-08-11 14:17] DanDvoracek commented on #150
It would actually be pretty nice if it was possible to set a srcpath, a name AND a distpath. I guess it would be pretty convenient. Does such feature exists already? Did I miss it?

[2017-08-14 13:37] DanDvoracek commented on #150
Never mind I found my way :) I forked the project and adapted a line of your plugin to fit in my projects structure.

Basically my troubles were coming from the line 28 of `svgxhr.js` :

[code]

But again, I have plenty of projects setup in a certain way, so it was easier for me to fork it and adapt rather than struggling to overwrite this using webpack.

Thanks anyway, it's a nice plugin 👍

[2017-08-14 13:37] #150 closed

[2017-08-15 09:12] mrsum commented on #150
Hi. Actually you can copy svgxhr.js into your own project and fix it, without fork

[2017-08-16 08:08] DanDvoracek commented on #150
Sorry mate, I've already done my business. However, don't worry, I'm not gonna open any pull request or trigger any kind of update to your stuff. I thought it was the best way to keep the credits to you, as it's your work.

Cheers

[2017-08-22 08:04] GoldenRust opened #151 "Using variable in 'name' causes errors"
Code as per example
[code]

I'd like to do this

[code]

However I'm getting this error:

`Module parse failed: ...\node_modules\babel-loader\lib\index.js??ref--1!...\node_modules\jshint-loader\index.js??ref--0...\assets\js\main.js Cannot read property 'indexOf' of undefine
d`
^This error message seems like it might be unrelated to this plugin? But it works fine if I use a static name or user [has

[2017-08-23 09:19] MrChe opened #152 "In Webpack-dev-server not work added svg-sprite"
// in component/Icon.js
`import svgxhr from 'webpack-svgstore-plugin/src/helpers/svgxhr';

const __svg__ = {
  path: '../../assets/icons/*.svg',
  name: 'sprite.svg',
};
svgxhr(__svg__);`

// webpack.config.js
const SvgStore = require('webpack-svgstore-plugin');
 new SvgStore(),
`devServer: {
      contentBase: './app',
      publicPath: '/',
      historyApiFallback: true,
      port,
      host,

[2017-08-23 12:29] rewop commented on #152
I think I have the same issue. My svgs are not loaded when I use react storybook. And react storybook uses webpack-dev-server.

As far as I see, in the generated bundle the variable `__svg__` is not overwritten, and the `filename`property is not added to the options.

This means that the [variable url in svgxhr.js](https://github.com/mrsum/webpack-svgstore-plugin/blob/develop/src/helpers/svgxhr.js

[2017-09-22 09:37] rustam87 opened #153 "understand how to use plugin"
I am not understand how it works this plugin
I add this to my webpack config

[code]

What is it? it is nessary or not? Where i write code below
[code]

[2017-09-29 06:13] kazagkazag commented on #153
Usually you put that code in your entrypoint. You should adjust paths to the actual icon (path) and specify path to the output sprite file relative to your webpack config output path (name).

This code is responsible for requesting your sprite on runtime (it makes simple xhr call for file and injects file into html).

[2017-09-29 07:05] kazagkazag commented on #142
Well, there is a workaround: you can write own loading function.

Just look at `./node_modules/webpack-svgstore-plugin/src/helpers/svgxhr.js`, there is a code responsible for composing final URL:
[code]

You can copy entire function, modify it and use instead of standard loader.

[2017-10-03 07:37] rustam87 commented on #153
Now, my sprite rebuild when i update my js file. How can I watch for svg images and when i add/remove svg images, my sprite rebuld?

[2017-10-05 15:24] ggarek commented on #109
The PR was merged. There is no need to set `window.baseUrl`.

[2017-10-05 15:24] #109 closed

[2017-10-09 08:53] DavidKk commented on #144
Me too...
![image](https://user-images.githubusercontent.com/4200041/31330569-9a45618e-aca4-11e7-9af1-1d6fca0a5c01.png)
This error occurs when I use `webpack-svgstore-plugin` and `istanbul-instrumenter-loader `. Now I can only exclude `svgstore.config.js`

[2017-10-10 15:38] katiasmet commented on #153
@kazagkazag For me, it's also unclear what you mean with this

[code]

I figured out, how to create a seperate file with alle my svg's. Now I want to inject this info in the html. What do you mean with entry point? Is this in your webpack.config file?

[2017-10-13 12:20] collimik commented on #152
I've the same issue and have arrived at the same conclusions as @rewop. I'm running an ejected Creeate React App.

[2017-11-19 11:21] sectsect commented on #151
I have same problem.

[2017-12-08 17:27] julienchazal opened #154 "Nuxt.js"
Hello
Is it possible to make it work with Nuxt.js ?
Thx

[2017-12-13 15:18] MADPT opened #155 "Update Dependencies"
Hey @mrsum, is it possible to update, at least, `svgo`? It's using `0.7.1` and the current version is `1.0.3`.

Probably it would be good to update `webpack` as well but it's not that important/urgent.

Thank you

[2017-12-14 11:36] MADPT opened #156 "Wrong __svg__ filename returns a "Uncaught Error: Invalid SVG Response""
I took a couple of hours to debug this issues and, thanks to @webmarkelov "[change the ajax path request?](https://github.com/mrsum/webpack-svgstore-plugin/issues/135)", I found a workaround that looks like an hack.

[code]

### Bug
[code]

I was getting two errors:
`GET http://path/assets/icons/icons.svg 404 (Not Found) svgxhr.js:47`
`Uncaught Error: Invalid SVG Response
    at XMLHttpRequest._aj

[2017-12-14 11:47] MADPT commented on #142
I did a simpler workaround: https://github.com/mrsum/webpack-svgstore-plugin/issues/156. Hope it helps

[2018-01-07 13:26] nelsieborja commented on #152
Came across same issue but managed to get it work by following the suggestion from [here](https://github.com/mrsum/webpack-svgstore-plugin/issues/134)

[2018-01-30 19:19] illycz opened #157 "Webpack 3 support"
Is this plugin working with Webpack 3?

Thanks

[2018-02-02 09:01] Zyets opened #158 "Something weird happens to __svg__ variable"
`// plugin will find marks and build sprite`
`let __svg__ = {path: "./assets/svg/*.svg", name: "./assets/svg/[hash].svg"};`
`// require basic or custom sprite loader`
`require("webpack-svgstore-plugin/src/helpers/svgxhr")(__svg__);`

plugin overwrites to this:

`var __svg__ = { filename: __webpack_require__.p +"./assets/svg/1517561561057.svg" }__svg__ = { filename: __webpack_require__.p +"./assets

[2018-02-02 09:15] #158 closed

[2018-02-02 09:16] Zyets commented on #158
sory, my fault..

[2018-02-16 09:07] mojereliev commented on #157
Yes

[2018-02-18 09:50] chicoxyzzy commented on #157
Yes it does

[2018-03-01 15:47] josh08h opened #159 "webpack-dev-server 404"
I am trying to request my built svg sprite from webpack-dev-server however am getting a 404 (Not Found). This is because `__svg__` is requesting the built sprite from my rails app as opposed to requesting it from my dev server.

Is there a way for `__svg__` xhr url to request from my dev server in development and production url when building?..

[2018-04-04 12:05] firestar300 commented on #156
Same problem :( Did you find something ?

[2018-04-22 12:05] sectsect opened #162 "v4.0.2: DOMContentLoaded does not working"
`DOMContentLoaded` added in v4.0.2 seems like does not fired. https://github.com/mrsum/webpack-svgstore-plugin/commit/e05eef676e6e1a1de8c46166450f5a75493cffd2

Thanks.

[2018-04-22 18:32] lgordey commented on #162
@melloc01 pls, check this out

[2018-04-22 18:35] lgordey commented on #155
@MADPT Feel free to send a pull request :)

[2018-04-22 18:46] lgordey commented on #157
I think two answers are enough :)

[2018-04-22 18:46] #157 closed

[2018-04-22 18:56] lgordey commented on #156
I guess you can do something like this:
[code]
Honestly, we should make it more convenient.

[2018-04-22 18:58] lgordey commented on #159
I guess it should be fine with separate configs for prod and dev

[2018-04-22 19:01] lgordey commented on #154
I don't know, but you can try :)

[2018-04-22 19:01] #154 closed

[2018-04-22 19:07] lgordey commented on #153
@kazagkazag Thanks for response :)
@rustam87 I dont think so :( But feel free to send a PR with fix =)

[2018-04-22 19:08] lgordey commented on #153
Also you could edit `svg` filename like this (to get correct path):
[code]

[2018-04-22 19:12] lgordey commented on #159
@josh08h Please check the related issues: https://github.com/mrsum/webpack-svgstore-plugin/issues/134 https://github.com/mrsum/webpack-svgstore-plugin/issues/152

[2018-04-22 19:16] lgordey commented on #151
@GoldenRust You should use exactly `[hash]` like a string, it will be replaced with actual hash on build stage

[2018-04-22 19:25] lgordey commented on #148
Feel free to send a PR to fix that :)

[2018-04-22 19:31] lgordey commented on #141
The author closed it himself, so `¯\_(ツ)_/¯`
But feel free to reopen/recreate pr ;)

[2018-04-22 19:32] #124 closed

[2018-04-22 19:36] lgordey commented on #128
Nope

[2018-04-22 19:36] #128 closed

[2018-04-23 06:51] artem-malko commented on #141
Actually, I can't remember, why I closed it)
I've made some critical fixes, which are not compatible with current version of plugin, cause I've solved just my own problem in my own way, sorry)

[2018-04-23 07:54] melloc01 commented on #162
Hey @lgordey, added a helper function & used it on svgxhr:
ref: https://www.sitepoint.com/jquery-document-ready-plain-javascript/

May you try my branch and check whether it fixes your issue @sectsect ?

Travis is failing, I'm commuting right now, will check as soon as I get home

[2018-04-25 15:45] sectsect commented on #162
@melloc01

Thanks for your PR https://github.com/mrsum/webpack-svgstore-plugin/pull/163

I tried your branch `fix/dom-access` on my environment.
It seems that the problem has been solved.
Great work :tada:

[2018-04-25 16:06] melloc01 commented on #162
cool @sectsect :)
friendly ping @lgordey

[2018-04-25 16:34] #162 closed

[2018-04-25 16:43] lgordey commented on #162
@melloc01 @sectsect
Check **4.0.3**  😉

[2018-05-04 09:47] firestar300 opened #164 "Generate output SVG on add/remove input icon file"
Hi

My Webpack config :

[code]

My JS entry file :

[code]

The output SVG sprite rebuild when i update my entry JS file. How can I watch for svg images and when i add/remove SVG images, my sprite rebuild ?

[2018-05-06 12:08] lgordey commented on #164
I'm afraid this will not work now.
But feel free to send a pull request.

[2018-05-06 13:42] lllel commented on #153
Подскажите, что тут не так? Сделал всё как в документации описано, но не работает.
 Появляется пустой файл свг, более того даже с именем не тем, которое я указал..

`module.exports = function () {
  return {
    plugins: [
      new SvgStore(
        {
          filename: 'sprite-svg.svg',
          prefix: 'icon-',
          svgoOptions: {
            removeTitle: true
          }
        }

[2018-05-07 10:56] lgordey commented on #153
@lllel
Там должно быть `name`, а не `filename`.
И если спрайт пустой, то ты неправильно прописал путь/маску до своих `svg`.

[2018-05-09 14:20] lgordey commented on #149
It won't rebuild after add/remove svgs.
But feel free to make pr. :)

[2018-06-24 10:47] SimchaShats opened #167 "How to migrate to Webpack4?"

[2018-07-05 08:50] matpaul commented on #167
@SimchaShats in our project it work without any problems

[2018-08-03 01:44] zoellner commented on #142
can confirm that this is an issue when using html-webpack-plugin with publicPath set. I'll see if I can put together a PR to fix

[2018-08-15 21:27] surreal8 commented on #167
Hi, I'm getting an error when using the plugin with Webpack 4:
<pre>(node:6681) DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead</pre>
Is anyone else experiencing the same?

[2018-08-27 21:15] sra commented on #134
This fix only works the first time for me - basically changing anything works the first time and the svg is generated, but if you start the dev server again, the svg item is no longer in the emitted asset list and 404s again.

[2018-08-29 14:27] sjmcdowall commented on #167
Same issue as @surreal8 -- this plugin needs to be updated ... is this thing being maintained at all? I see a PR still from June 1 outstanding, etc.

[2018-10-15 19:29] #98 closed

[2018-10-15 19:29] #141 closed

[2018-11-09 15:40] rwinzhang opened #170 "Consider to update to lodash >=4.17.5 for security"
Reference: https://www.npmjs.com/advisories/577

[2018-12-21 17:05] drolsen opened #171 "DeprecationWarning: Tapable.plugin is deprecated"
Per these instructions: https://github.com/webpack/webpack/issues/6568#issuecomment-377491754

I wanted to report that latest 4.1.0 is giving warnings under webpack ^4.28.1

![image](https://user-images.githubusercontent.com/553928/50354134-663dab80-04ff-11e9-889f-c03b06b63e7f.png)

[2019-02-17 08:03] nadavsinai commented on #167
hi, Just FYI, i've done this work and you can use my fork.
npm i @algotec/webpack-svgstore-plugin#v5.1.2

I'm trying to get the owners to merge this for a while now...

https://github.com/Algotec/webpack-svgstore-plugin

[2019-02-17 08:03] nadavsinai commented on #171
hi, Just FYI, i've done this work and you can use my fork.
npm i @algotec/webpack-svgstore-plugin#v5.1.2

I'm trying to get the owners to merge this for a while now...

https://github.com/Algotec/webpack-svgstore-plugin

[2019-02-17 08:04] nadavsinai commented on #170
hi, Just FYI, i've done this work and you can use my fork.
npm i @algotec/webpack-svgstore-plugin#v5.1.2

I'm trying to get the owners to merge this for a while now...

https://github.com/Algotec/webpack-svgstore-plugin

[2019-02-17 08:04] nadavsinai commented on #142
hi, Just FYI, i've done this work and you can use my fork.
npm i @algotec/webpack-svgstore-plugin#v5.1.2

I'm trying to get the owners to merge this for a while now...

https://github.com/Algotec/webpack-svgstore-plugin

[2019-06-18 17:52] ScriptedAlchemy opened #174 "Can I help maintain this project"
Hey! I've noticed this project has a couple of issues and a few standing PRs - mainly to help bring the plugin back to webpack 4. Id hate for the project to go unmaintained and stay incompatible with the latest webpack versions. If anyone wants help maintaining it, I'm glad to lend a hand.

It would be great to get the project running on webpack 4 again

[2019-06-28 19:36] MrJadaml commented on #167
Would love to see this get merged in.

[2019-10-04 14:31] playlikednb opened #176 "NaN in svg path"
I have an icon with a path like that:
![image](https://user-images.githubusercontent.com/10543004/66215356-0d28b800-e6cc-11e9-9b4a-ebf3b7f181c1.png)
When it got parsed by the **parseFiles** fn, it becomes broken because of NaN's in its path:
![image](https://user-images.githubusercontent.com/10543004/66215307-f4b89d80-e6cb-11e9-8f74-f0a89ae861a0.png)
The problem is that Arcs in a path have up to 7

[2019-11-24 23:23] Jeniczech opened #178 "Sub-domain issue"
Hello there, I am having problems with resolving the correct URL path for the SVG file generated by the plugin.  When I upload my project to a standard domain, for example "http://frontend.devs.cz/" everything works just fine, but when I move my project one level further to "http://frontend.devs.cz/myproject", for example, the plugin ignores the "myproject" pathname and creates the following path

[2019-12-10 10:59] jonascarlbaum commented on #170
That's not the only package that needs update...

[code]

For example `svgo` needs to be at least `1.2.2` but is dependent on `0.7.1` in this project and `pug` needs to be at least `2.0.3` but is `2.0.0-beta6`.

I think that, alongside `lodash` at least `4.17.11` will cover the vulnerabilities I pasted above.

Maybe you covered all @nadavsinai ?

[2020-01-15 11:12] jonascarlbaum opened #179 "Can't get prefixClassNames to work"
Hi,

I'm having issues where many (all) svg icons have the same class names, but different styles on them.
I'm using `{ prefixIds: true }` to enable that plugin. By default it looks like that also would mean that it should have `prefixClassNames: true`.

I can't figure out how to make the prefixing of class names to work — do you have any suggestion on how to configure this?

Might it be `onlyMatc

[2020-01-15 11:58] jonascarlbaum commented on #179
Or is it your `_fixIds` in [utils](https://github.com/mrsum/webpack-svgstore-plugin/blob/develop/src/helpers/utils.js) that is doing this and you need to add `_fixClasses` or something to make this work?

When testing it seems that I `prefixIds`-plugin does pretty much no difference, it's seems like it's your `_fixIds` that is doing the id-magic...

Is it possible to make a `_fixClassNames` or som

[2020-01-15 13:37] jonascarlbaum commented on #179
I tried a hacky (not perfect at all) version, added a `_fixClassNames` directly in my `node_modules/webpack-svgstore-plugin/src/helpers/utils.js`, as a proof-of-concept.

[code]

And in `_parseSVG` calling that directly after `_fixIds`-call:
[code]

It did solve my issues, maybe not a perfect solution. But I rather like it to be solved by `svgoOptions` if possible...

[2020-03-18 23:18] ryan-ludwig commented on #176
I was also running into this issue. Updating the SVGO dependency fixed if for me. https://github.com/mrsum/webpack-svgstore-plugin/pull/180

[2021-02-23 08:10] murali-ally commented on #134
+1

Any solution for this issue?

[2021-06-03 09:20] skepsys commented on #148
Solution seems to be much simpler, since attributes should be an array of objects, not just strings:
[code]

[2021-07-12 08:15] etaytch commented on #167
@nadavsinai
`npm i @algotec/webpack-svgstore-plugin#v5.1.2` seems to be not available.

[2022-03-21 07:18] yisehak-awm opened #191 "The transitive dependency ansi-regex@2.1.1 has a known vulnerability (CVE-2021-3807)"
Our project uses webpack-svgstore-plugin extensively and it would be a nightmare to have to change the library because of this vulnerability.

[2022-03-21 08:08] yisehak-awm commented on #155
Could we please get this merged? There are actually newer versions of svgo , but merging just this version would solve #191

[2022-03-21 08:44] yisehak-awm opened #192 "The transitive dependency lodash@4.17.2 has known vulnerabilities"
Version 4.17.2 of lodash has these vulnerabilities

- [CVE-2019-10744](https://saas.whitesourcesoftware.com/Wss/WSS.html#!securityVulnerability;id=CVE-2019-10744;orgToken=80cb2709-ea67-49ba-b454-5a8a3ddde458)
- [CVE-2020-8203](https://saas.whitesourcesoftware.com/Wss/WSS.html#!securityVulnerability;id=CVE-2020-8203;orgToken=80cb2709-ea67-49ba-b454-5a8a3ddde458)
- [CVE-2019-1010266](https://saas.wh

[2022-03-23 08:39] mrsum commented on #192
Hello @yisehak-awm, sorry for delay. Right now i working on new version of plugin with TS and other cool features, based on Webpack 5. Stay tune

[2022-03-23 11:58] abahrisd commented on #134
Same problem, any solution?

[2022-03-23 14:01] pafnuty commented on #134
We migrated build to vite and sprite assembly implementation to a small JS function https://gist.github.com/pafnuty/3070e4e25e5f52839c836882672434f6

[2022-03-23 18:02] yisehak-awm commented on #192
Hi Mike,
Great to hear from you.  Will the new plugin be backward compatible with
the old one? Our codebase is huge and is over a decade old. I put in pull
requests for the version upgrades. We would love it if those changes went
through. I would save us a lot of trouble. If the new plugin works with the
old codebase that's great. Either way, we look forward to your upcoming
works and thank you fo